.columns {
    height: 100%;
    display: flex;
    flex: 0 0 auto;
    overflow-x: auto;
}

.columns::-webkit-scrollbar {
    height: 10px;
}

.columns::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.columns::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.4);
    border-radius: 3px;
}

.columns::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.6);
}
