.board {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    position: relative;
}

.changeBackgroundBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate {
    animation: rotate 1s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-720deg);
    }
}

.refreshIcon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}
