.board {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2401x1600/d402b289ce2d29d556610ca322f6e90e/photo-1619233651146-7364c945c3ee.jpg') center center / cover no-repeat;
    padding-bottom: 10px;
}
