.board {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    position: relative;
}

.changeBackgroundBtn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 0;
    margin: 0;
}

.changeBackgroundBtn:hover {
    background: transparent;
}

.changeBackgroundBtn:active {
    background: transparent;
}

.rotate {
    animation: rotate 1s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-720deg);
    }
}
