.addDiv {
    height: auto;
    min-height: 31px;
    max-height: 31px;
}

.expandAddDiv {
    flex-shrink: 0;
    max-height: 80px;
}

.addColumnDiv {
    margin: 10px;
    width: 250px;
}

.addTodoDiv {
    margin-top: 8px;
    margin-right: 4px;
    width: 234px;
}

.addBtn {
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background 0.2s;
}

.showAddBtn {
    animation: showAddBtn 0.2s forwards;
}

@keyframes showAddBtn {
    from {
        opacity: 0;
        height: 0;
    }
    to {

        opacity: 1;
    }
}

.hideAddBtn {
    animation: fade-out 0.2s forwards;
}

.addColumnBtn {
    color: #172b4d;
    background: rgba(0, 0, 0, .08);
    height: fit-content;
    text-align: center;
    width: 250px;
    flex-shrink: 0;
}

.addColumnBtn:hover {
    background: rgba(0, 0, 0, .16);
}

.createDiv {
    border-radius: 5px;
    background: #ebecf0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 4px;
    height: 0;
    opacity: 0;
    transform: translateX(0);
}

.showCreateDiv {
    animation: expand 0.1s forwards, fade-in 0.2s forwards;
}

.hideCreateDiv {
    animation: shrink 0.1s forwards, fade-out 0.2s forwards;
}

@keyframes expand {
    from {
        height: 0;
        padding: 0 4px;
    }
    to {
        height: 80px;
        padding: 4px;
    }
}

@keyframes shrink {
    from {
        height: 80px;
        padding: 4px;
    }
    to {
        height: 0;
        padding: 0 4px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.input {
    border: 2px solid #0079bf;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    margin-bottom: 4px;
}

.createBtn {
    color: white;
    outline: none;
    border: none;
    background: #5aac44;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
}

.createBtn:hover {
    background: #61bd4f;
}

.createBtn:active {
    background: #49852e;
}

.cancelBtn {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px;
}

.cancelBtn:hover {
    background: rgba(0, 0, 0, 0.08);
}

.cancelBtn:active {
    background: rgba(0, 0, 0, 0.16);
}

.addTodoBtn {
    margin-right: 8px;
    background: transparent;
    color: #5e6c84;
    width: 100%;
}

.addTodoBtn:hover {
    background: rgba(9, 30, 66, .08);
}

.moveRight {
    animation: moveRight 0.2s forwards;
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(260px);
    }
}
