.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background 0.2s;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.08);
}

.btn:active {
    background: rgba(0, 0, 0, 0.16);
}

.img {
    object-fit: contain;
}
