.todos {
    overflow-y: auto;
    margin-right: 4px;
    padding-right: 4px;
    border-radius: 5px;
    min-height: 40px;
}

.todos::-webkit-scrollbar {
    width: 8px;
    background: #dadbe2;
    border-radius: 4px;
}

.todos::-webkit-scrollbar-thumb {
    background: #bfc4ce;
    border-radius: 4px;
}

.draggingOver {
    background: ghostwhite;
}

.todo {
    background: white;
    padding: 8px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dragging {
    background: lightgray;
}

.content {
}

.title {
    word-break: break-word;
}

.todo + .todo {
    margin-top: 8px;
}

.todo:hover .actions {
    opacity: 1;
}

.actions {
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    align-items: center;
}

.delete {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

.delete:hover {
    background: rgba(0, 0, 0, 0.08);
}

.delete:active {
    background: rgba(0, 0, 0, 0.16);
}

.deleteIcon {
    width: 13px;
    height: 13px;
    object-fit: contain;
}

.mt5 {
    margin-top: 5px;
}

.modal {

}

.modalHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.modalTitle {
    font-weight: 600;
}

.modalClose {
    padding: 8px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 3px;
}

.modalClose:hover {
    background: rgba(0, 0, 0, 0.08);
}

.closeIcon {
    height: 15px;
    width: 15px;
    object-fit: contain;
}

.description {
    outline: none;
    background: transparent;
    resize: none;
    width: 100%;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 5px;
}

.descriptionDiv {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.descriptionIcon {
    margin-right: 10px;
}

.active {
    border: 2px solid #0079bf;
}

.descriptionIcon {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.creationDate {
    margin-top: 10px;
    margin-bottom: 10px;
}

.creationDateSpan,
.editDateSpan,
.descriptionTitle {
    font-weight: 500;
}

.date {
    font-size: 14px;
}
